/* body > div{
  padding: 40px 20px ;
  border-bottom: 1px solid blue;
}

table th, table td{
padding: 10px

} */

h1 {
  color: brown;;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid brown;;
}
.btn-brand{
  background-color: brown;
  color: #ffffff;
}